<app-header></app-header>

<div class="p-8">
  <section id="inicio" class="">
    <app-home></app-home>
  </section>

  <section id="sobre-mi" class="">
    <app-sobre-mi></app-sobre-mi>
  </section>

  <section id="bibliografia" class="">
    <app-bibliografia></app-bibliografia>
  </section>

  <section id="habilidades" class="">
    <app-habilidades></app-habilidades>
  </section>

  <section id="proyectos" class="">
    <app-proyectos></app-proyectos>
  </section>

  <section id="curriculum" class="">
    <app-curriculum></app-curriculum>
  </section>

  <section id="contacto" class="">
    <app-contactos></app-contactos>
  </section>

  <app-footer></app-footer>
</div>
