<app-header></app-header>

<div class="p-8">
  <section id="inicio" class="fade-in">
    <app-home></app-home>
  </section>

  <section id="sobre-mi" class="fade-in">
    <app-sobre-mi></app-sobre-mi>
  </section>

  <section id="bibliografia" class="fade-in">
    <app-bibliografia></app-bibliografia>
  </section>

  <section id="habilidades" class="fade-in">
    <app-habilidades></app-habilidades>
  </section>

  <section id="proyectos" class="fade-in">
    <app-proyectos></app-proyectos>
  </section>

  <section id="curriculum" class="fade-in">
    <app-curriculum></app-curriculum>
  </section>

  <section id="contacto" class="fade-in">
    <app-contactos></app-contactos>
  </section>

  <app-footer></app-footer>
</div>
