<section class="text-gray-400 bg-gray-900 body-font overflow-hidden">

  <div class="container px-5 py-24 mx-auto">
    <div class="-my-8 divide-y-2 divide-gray-800">
      <h1 class="mb-4 text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl dark:text-white"> <span class="underline underline-offset-3 decoration-8 decoration-blue-400 dark:decoration-blue-600">Proyectos</span></h1>

      <div class="py-8 flex flex-wrap md:flex-nowrap">
        <div class="md:w-64 md:mb-0 mb-6 flex-shrink-0 flex flex-col">
          <span class="font-semibold title-font text-white">verificación de certificado de vacuna de covid 19</span>
          <span class="mt-1 text-gray-500 text-sm">septiembre de 2021</span>
        </div>
        <div class="md:flex-grow">
          <h2 class="text-2xl font-medium text-white title-font mb-2">Breve descripcion del proyecto</h2>
          <p class="leading-relaxed">Desarrollo de una aplicación utilizando Python opencv para realizar la verificación de certificados de vacuna del covid 19 usando web scraping</p>
          <a class="text-yellow-400 inline-flex items-center mt-4">Mas informacion
            <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path d="M5 12h14"></path>
              <path d="M12 5l7 7-7 7"></path>
            </svg>
          </a>
        </div>
      </div>
      <div class="py-8 flex border-t-2 border-gray-800 flex-wrap md:flex-nowrap">
        <div class="md:w-64 md:mb-0 mb-6 flex-shrink-0 flex flex-col">
          <span class="font-semibold title-font text-white">geolo kid </span>
          <span class="mt-1 text-gray-500 text-sm">Jun 2022</span>
        </div>
        <div class="md:flex-grow">
          <h2 class="text-2xl font-medium text-white title-font mb-2">Breve descripcion del proyecto</h2>
          <p class="leading-relaxed">Desarrollo e implementacion un sistema de geolocalización utilizando php y modulos de arduino ESP8266, SIM800L, y GPS Neo v6, que envía datos en tiempo real mediante conexión 2G, vinculado a un sistema de información principal para un seguimiento preciso y gestión eficiente
            .</p>
          <a class="text-yellow-400 inline-flex items-center mt-4">Mas informacion
            <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path d="M5 12h14"></path>
              <path d="M12 5l7 7-7 7"></path>
            </svg>
          </a>
        </div>
      </div>
      
    </div>
  </div>
</section>
