<section class="text-gray-400 bg-gray-900 body-font">
  <div class="container px-5 py-24 mx-auto flex flex-col">
    <div class="lg:w-4/6 mx-auto">

<h1 class="mb-4 text-3xl font-extrabold text-gray-900 dark:text-white md:text-5xl lg:text-6xl"><span class="text-transparent bg-clip-text bg-gradient-to-r to-emerald-600 from-sky-400">Portafolio Digital</span> Arista Huanca Josue Israel</h1>

      <p class="mb-6 text-lg font-normal text-gray-500 lg:text-xl sm:px-16 xl:px-48 dark:text-gray-400">


        ¡Hola y bienvenidos a mi portafolio digital!

       </p>
       <p class="mb-6 text-lg font-normal text-gray-500 lg:text-xl sm:px-16 xl:px-48 dark:text-gray-400">
        Estoy encantado de que estés aquí explorando mi trabajo. Este espacio está dedicado a mostrar mi pasión, habilidades y proyectos en los que he trabajado con dedicación y entusiasmo. Mi enfoque es siempre aprender, crecer y compartir ideas innovadoras a través de mis creaciones.


       </p>
       <p class="mb-6 text-lg font-normal text-gray-500 lg:text-xl sm:px-16 xl:px-48 dark:text-gray-400">

        Si tienes alguna pregunta o quieres discutir una colaboración, no dudes en ponerte en contacto.

        ¡Gracias por visitar y espero que disfrutes el recorrido!
       </p>
       <p class="mb-6 text-lg font-normal text-gray-500 lg:text-xl sm:px-16 xl:px-48 dark:text-gray-400">


        ¡Gracias por visitar y espero que disfrutes el recorrido!
       </p>



       <h1 class="mb-4 text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl dark:text-white"> <span class="underline underline-offset-3 decoration-8 decoration-blue-400 dark:decoration-blue-600">Sobre mi</span></h1>

      <div class="flex flex-col sm:flex-row mt-10">

        <div class="p-4 lg:w-1/2">
          <div class="h-full flex sm:flex-row flex-col items-center sm:justify-start justify-center text-center sm:text-left">
            <img alt="team" class="flex-shrink-0 rounded-lg w-48 h-48 object-cover object-center sm:mb-0 mb-4" src="assets/perfil.png">
            <div class="flex-grow sm:pl-8">
              <h2 class="title-font font-medium text-lg text-white">Josue Israel Arista Huanca</h2>
              <h3 class="text-gray-500 mb-3">desarrollador web</h3>
              <p class="mb-4">Tecnico superior en sistemas informaticos y telecomunicaciones</p>
              <span class="inline-flex">
                <a class="text-gray-500">
                  <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                    <path d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"></path>
                  </svg>
                </a>
                <a class="ml-2 text-gray-500">
                  <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                    <path d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z"></path>
                  </svg>
                </a>
                <a class="ml-2 text-gray-500">
                  <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                    <path d="M21 11.5a8.38 8.38 0 01-.9 3.8 8.5 8.5 0 01-7.6 4.7 8.38 8.38 0 01-3.8-.9L3 21l1.9-5.7a8.38 8.38 0 01-.9-3.8 8.5 8.5 0 014.7-7.6 8.38 8.38 0 013.8-.9h.5a8.48 8.48 0 018 8v.5z"></path>
                  </svg>
                </a>
              </span>
            </div>
          </div>
        </div>
        <div class="sm:w-2/3 sm:pl-8 sm:py-8 sm:border-l border-gray-800 sm:border-t-0 border-t mt-4 pt-4 sm:mt-0 text-center sm:text-left">
          <p class="leading-relaxed text-lg mb-4">Técnico Superior en Sistemas Informáticos con competencias en desarrollo web, administración y configuración de redes, y gestión de bases de datos. Destacado por su capacidad para resolver problemas tecnológicos y sus habilidades en la instalación, configuración y optimización de hardware y software. Apasionado por proyectos de Arduino y la implementación de soluciones innovadoras que mejoran la eficiencia y el rendimiento de los sistemas.</p>
          <a class="text-yellow-400 inline-flex items-center">Contactar
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
              <path d="M5 12h14M12 5l7 7-7 7"></path>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
